<!-- NAVBAR -->


<!-- BANNER SEARCH -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)>
    <%= image_tag "background2.png" %>
      <div class="banner-content">
        <h1>Buy Local Produce from your neighbors!</h1>

        <p>GrowShare brings the farmer's market to you</p>


    <div class="form">
    <%= form_tag(root_path, method: :get) do %>
      <%= text_field_tag :search, params[:search], class:"search-bar " %>
      <%= submit_tag 'Search', name: nil, class: "search-button search-button-banner"%>
    <% end %>
    </div>

    </div>
</div>
<!-- CARDS AND MAP -->
<div class="content">
  <div class="container-text">
    <div class="row">
      <%= render "card" %>
    </div>
  </div>

  <div class="dynamic-map">
      <%= render "map" %>
  </div>
</div>
  </div>

<script>
  $(".search-button").click(function() {
      $('html,body').animate({
        scrollTop: $(".content").offset().top
      }, 1000);
    });
</script>






