<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="description">

        <div class="studio-card">
          <h1><%= @item.name %></h1>
            <div class="message">
                <ul>
                  <li>
                    <div class="message-body">
                      <p><strong>Product info:</strong> <%= @item.description %></p>
                    </div>
                </li>
                  <li>
                    <div class="message-body">
                      <p><strong>Category:</strong> <%= @item.category %></p>
                   </div>
                  </li>
                <li>
                  <div class="message-body">
                    <p><strong>Quantity:</strong> <%= @item.quantity %><%= @item.indicator %> </p>
                  </div>
                  </li>
                  <li>
                    <div class="message-body">
                        <p><strong>Price:</strong> <%= @item.price %></p>
                     </div>
                  </li>
              </ul>
            </div>

             <div class="message">
                <div class="message-body">
                  <p><strong>His farm is organic:</strong></p>
                  <p>
                  Really great produce
                  </p>
                  <p><strong>ROCKIN ORANGES:</strong></p>
                  <p>
                   Organic and tasty
                  </p>

                </div>
                <div class="message-status">
                  <p class="status pending">ranking</p>
                  <p class="price">* * * *</p>
               </div>

                <div class="message-name">
                  <h3><%= @item.user.first_name %></h3>
                  <p>info@buy.com</p>
                </div>

             <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
              </div>


          <div class="btn-search">
          <%= render 'reviews/form', user: @user, review: @review %>
           <a><strong><%= link_to "Back to Search", root_path %></strong></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="studio-card">
        <div class="popup">
          <div class="row">
            <p>¥ <%= @item.price %> per <%= @item.quantity %><%= @item.indicator %></p>
          </div>
          <div class="row">
            <% if @item.photo? %>
            <h1><%= cl_image_tag @item.photo.path, width: 360, height: 360, crop: :fill %></h1>
            <% else %>
            <h1><%= image_tag "banana.png", :size => "360x360" , :alt =>"ll" %></h1>
            <% end %>
          </div>
          <div class="row">
            <%= link_to "Buy", new_item_booking_path(@item) , class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


